<html>
<head>
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
	</head>
<body>
<!-- <a href = '{{url_for('showLogin')}}'> Login </a>
<a href = '{{url_for('gdisconnect')}}'> Logout </a> -->
<div class=metanav>
  {% if not session.logged_in %}
    <a href="{{ url_for('showLogin') }}">log in</a>
  {% else %}
    <a href="{{ url_for('gdisconnect') }}">log out</a>
  {% endif %}
  </div>
<h1>Bookstores</h1>

{% for bookstore in bookstores %}
	<a href = "{{url_for('showList', bookstore_id = bookstore.id)}}">

					<h3>{{bookstore.name}}</h3>

	</a>
</body>
	{% endfor %}
</html>
